.button{
	background-color: green;
	color:white;
	padding:6px 15px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:13px;
	margin:4px 4px;
	//cursor:pointer;
	border-radius:8px;
	box-shadow:0 12px 16px 0 rgba(0,0,0,0.24);//,0 17px 50px 0 rgba(0,0,0,0.19);
	}
	.box{
		color:white;
	    text-decoration:none;}
	.idreset{
		padding:4px 5px;
		font-size:13px;}